node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
node_modules
#android
android/build/*
android/app/build/*
android/.gradle/5.6.4/fileHashes/*

*.bin

android/.gradle/*
android/.gradle/5.6.4/*
